
.inputmsg {
  background-color: #40444b;
  border: 0;
  width: 505px;
  height: 6.5%;
  padding: 22px;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -252px;
  color: white;
  z-index: 1;
}

.send {
  background-color: #43b581;
  color: white;
  height: 6.5%;
  font-size: 18px;
  padding: 10px;
  border: 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: 190px;
  z-index: 1;
}

.send:hover {
  background-color: #2e805b;
  cursor: pointer;
}

.msgcontainer {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #36393f8e;
  width: 505px;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  height: 93.5%;
  left: 50%;
  margin-left: -252.5px;
}
.msgs {
  color: white;
  margin: 10px;
  line-height: 10px;
}
.msgs h2 {
  font-size: 18px;
  color: #999999;
}
.msgs h3 {
  margin-left: 25px;
  font-size: 20px;
  overflow-wrap: break-word;
  line-height: 25px;
}
